# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm, VSCode, and other IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store          # macOS
Thumbs.db          # Windows

# Log files
*.log

# Test, coverage, and build files
*.tox/
*.nox/
*.coverage
*.hypothesis/
*.pytest_cache/
build/
dist/
*.egg-info/

# Other files to ignore
*.bak
*.swp
